---
import { FontShow } from './FontShow';
import { __CDN__ } from '../../global';
import { getFileListIndex } from '../../api/fontListIndex';
const list = await getFileListIndex();
---
<section
    class="dynamic-font w-screen max-w-7xl flex flex-col my-6 overflow-hidden h-screen gap-2 pt-16 z-0 snap-start relative"
    id="font-list"
>
    <h2
        class="px-8 pb-4 text-xl flex flex-wrap justify-between md:text-2xl text-rose-700 border-b border-rose-700"
    >{$t("11035eaf9b3d2bac260f72fa3eaf3c97")}<nav class="float-right flex gap-4 text-sm text-emerald-600">
            <button id="open-font-list">{$t("f43bf5dec4eccf2bc9d44af37247e0d5")}</button>
            <button>
                <a href={"/"+Astro.params.lang+"/feature/test"} class="text-center">{$t("ed0967e39e5011cb6b5354ff6415c939")}</a>
            </button>
            <!--            <AddFont client:load />            -->
            <button class="text-cyan-800">{list.length}{$t("2a5da6a04b01473f96468e6f75b83db6")}</button>
        </nav>
    </h2>
    <ul
        id="fonts-index"
        class="p-4 font-list-hidden opacity-100 translate-y-0 transition-all absolute top-24 backdrop-blur-sm border border-solid border-gray-400 rounded-b-md z-10 bg-gray-100/40 left-0 w-full flex flex-wrap flex-1 text-xs md:text-base"
    >
        {
            list.map((i) => {
                return (
                    <li
                        class="flex-none cursor-pointer px-4 py-2 transition-colors duration-300  hover:bg-emerald-600 hover:text-white"
                        data-name={i.name}>
                        {i.name}
                    </li>
                );
            })
        }
    </ul>

    <script>
        window.onload = () => {
            const list = document.getElementById('fonts-index')!.children;
            ([...list] as HTMLLIElement[]).forEach((li) => {
                li.onclick = () => {
                    // 更换为代码手动操作，API 不行，一直表现不一致
                    const item = document.getElementById('fonts-' + li.dataset.name)!;

                    let count = item.offsetTop - item.parentElement!.offsetTop;
                    item.parentElement?.parentElement!.scrollTo({
                        top: count,
                        left: 0,
                        behavior: 'smooth',
                    });
                    item.classList.add('border-red-400');
                    setTimeout(() => {
                        document.getElementById('fonts-index')?.classList.add('font-list-hidden');
                    }, 200);
                };
            });
            document.getElementById('open-font-list')?.addEventListener('click', () => {
                document.getElementById('fonts-index')?.classList.toggle('font-list-hidden');
            });
        };
    </script>
    <style>
        .font-list-hidden {
            pointer-events: none;
            opacity: 0;
            transform: translate(0, -30%);
        }

        /** 热门和新品的 CSS */
        #font-list-ul {
            [data-index] {
                position: relative;
                border-color: #e8b9b9;
                &::before {
                    content: '热门';
                    position: absolute;
                    bottom: 4px;
                    left: 4px;
                    font-weight: 800;
                    color: #d31746;
                }
            }
            & > :nth-child(1),
            & > :nth-child(2),
            & > :nth-child(3),
            & > :nth-child(4),
            & > :nth-child(5),
            & > :nth-child(6) {
                border-color: #a3d0ca;
                &::before {
                    content: '新品';
                    position: absolute;
                    bottom: 4px;
                    left: 4px;
                    font-weight: 800;
                    color: #13b4a1;
                }
            }
        }
    </style>
    <nav
        id="fonts-wrapper"
        class="overflow-hidden flex-1 flex justify-between md:mx-4 p-2 px-4 2xl:px-8 my-4 relative"
    >
        <FontShow client:load />

        <!--            不要将下面这段写进 solidjs astro 的处理会将 json 传过去            -->
        <nav
            class="flex-1 md:flex-[2] xl:flex-[4] h-full overflow-scroll rounded-lg overflow-x-hidden py-4"
        >
            <ul
                id="font-list-ul"
                class="font-parent grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4"
            >
                {
                    list.map((item) => {
                        return item.remotePath.map(({ url: remote, style }) => {
                            const [_, name] = remote.match(/dist\/(.*?)\/result/)!;
                            return (
                                (<li
                                    class="relative flex-wrap overflow-hidden rounded-md border bg-white p-2 transition-colors hover:bg-neutral-100"
                                    id={'fonts-' + item.name}
                                    data-id={item.id}>
                                    <a
                                        class="display-font-show-hover"
                                        href={`/${Astro.params.lang}/fonts/${item.id}/${name}`}
                                        data-src={__CDN__ + '/' + remote}
                                        data-style={style}>
                                        <img
                                            loading="lazy"
                                            class="h-32"
                                            height="128px"
                                            width="346px"
                                            fetchpriority="low"
                                            src={
                                                __CDN__ +
                                                '/' +
                                                remote.replace('result.css', 'preview.svg')
                                            }
                                            alt={name + $t("802be3b9811992af6a28615609ebdced")}
                                        />
                                    </a>
                                    <span class="text-xm absolute bottom-2 right-2 text-gray-400">
                                        {item.name}{$t("7461df0fdc259411190cdf4fd058525c")}</span>
                                </li>)
                            );
                        });
                    })
                }
            </ul>
        </nav>
        <script>
            import { sortFontListByRemoteCount } from '../../api/fontListIndex.ts';
            // 重排数据
            sortFontListByRemoteCount(document.getElementById('font-list'));
        </script>
    </nav>
</section>
