---
import Layout from '../../Layout/Layout.astro';
import { getSections } from '../../utils/getPostSections';
const lang = Astro.params.lang!
const sections = getSections(lang)
---
<Layout title={$t("b8337dd9789e8259fd6543cbd43ac8c4")} keywords={$t("d607ec3c4aeb920414eb174e960e4b02")}>
    <main class="py-4 px-12">
        <h2 class="w-full py-8 text-3xl text-center">{$t("7c6f314e2a20f07a459ee758be60ec60")}</h2>

        <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            {
                [...sections.entries()].map(([sectionName, posts]) => {
                    return (
                        <nav id={sectionName}>
                            <h2 class="my-2 border-b border-neutral-400 py-2 text-2xl text-cyan-700">
                                {sectionName}
                            </h2>
                            <ul class="space-y-4">
                                {posts
                                    .sort((a, b) => {
                                        return (
                                            new Date(a.data.article.pubDate).getTime() -
                                            new Date(b.data.article.pubDate).getTime()
                                        );
                                    })
                                    .map((post) => {
                                        return (
                                            <li>
                                                <a class=" " href={`/${Astro.params.lang}/post/${post.slug.split('/').slice(1).join('/')}.html`}>
                                                    <h3>{post.data.title}</h3>

                                                    <p class="my-2 line-clamp-1 text-xs text-gray-500">
                                                        {post.data.description}
                                                    </p>
                                                    <aside class="flex gap-2 text-xs text-gray-500">
                                                        <address>
                                                            {post.data.article.authors}
                                                        </address>

                                                        <time datetime={new Date(post.data.article.pubDate)}>
                                                            {new Date(post.data.article.pubDate).toLocaleDateString()}
                                                        </time>
                                                    </aside>
                                                </a>
                                            </li>
                                        );
                                    })}
                            </ul>
                        </nav>
                    );
                })
            }
        </section>
    </main>
</Layout>
