---
import Layout from './Layout.astro';
import { __CDN__ } from '../global';
import Index from '../../index.json';
export interface Props {
    font: string;
    font_name: string;
}
const { font, font_name } = Astro.props;

const css = Index[font as keyof typeof Index].remotePath.find((i) =>
    i.path.includes(font_name)
)?.css;
// @i18n-ignore
const style = `font-family:'${css?.family}';font-weight:'${css?.weight}'`;

const root = `/fonts/${font}/${font_name}/`;
const font_name_cn = (Index as Record<string, { name: string }>)[font]?.name;
---
<Layout
    defaultFontCSS={__CDN__ + `/packages/${font}/dist/${font_name}/result.css`}
    title={font_name_cn + $t("4582341887d2c0e274461cede41b2fe9") + font_name_cn + $t("99a671fbea26e1ab89e409ffa3ff1532")}
    description={font_name_cn +
        $t("e3fe6f736f5368d1688b04d184d6076a")}
    style={style}
    keywords={font_name_cn}
    image={__CDN__ + `/packages/${font}/dist/${font_name}/preview.svg`}
>
    <section class="grid grid-cols-6 lg:grid-cols-12 gap-4 p-4 lg:max-w-6xl lg:m-auto">
        <header class="p-4 col-span-full items-center flex flex-wrap justify-between">
            <h2 class="text-2xl rounded-lg overflow-hidden">
                <span class="bg-black text-white p-4">
                    {font_name_cn}
                </span>
                <span class="text-white bg-cyan-600 p-4"> {font}</span>
            </h2>

            <nav class="flex gap-2 text-xs h-fit">
                {
                    [
                        {
                            name: '基础信息',
                            link: root + `analyze`,
                        },
                        {
                            name: '文章测试',
                            link: `/heti.html?font=${font}&name=${font_name}&family=${css?.family}&subFamily=${css?.weight}`,
                        },
                        {
                            name: 'Github',
                            link: `https://github.com/KonghaYao/chinese-free-web-font-storage/tree/branch/packages/${font}/fonts`,
                        },
                    ].map((i) => {
                        return (
                            <a
                                href={i.link}
                                class="rounded-lg px-2  py-1    transition-colors  duration-300 ">
                                {i.name}
                            </a>
                        );
                    })
                }
            </nav>
        </header>
        <slot />
    </section>
</Layout>
