---
import { css, fontFamilyFallback } from '../assets/jxzk.ttf?subsets&key=home';
import '../index.css';
import GlobalHeader from '../components/GlobalHeader.astro';
import { SEO } from 'astro-seo';
import Sentry from '../components/SentryScript.astro';
import { __CDN__ } from '../global';
import { changeLanguage } from 'i18next';
export interface Props {
    title?: string;
    description?: string;
    canonicalURL?: string;
    type?: 'website' | 'article' | 'blog' | 'product' | 'profile' | 'music' | 'video';
    image?: string;
    keywords?: string;
    meta?: any;
    defaultFontCSS?: string;
    style?: string;
    class?: string;
    htmlClass?: string;
}
const {
    title = $t("049945050aa7435651ba3e2129a14e93"),
    description = $t("62ad0ae253a6017d313347e67f1a0c01"),
    canonicalURL,
    image = '',
    type: ogType,
    keywords,
    style,
    defaultFontCSS = __CDN__ + '/packages/jxzk/dist/江西拙楷/result.css',
    class: className,
    htmlClass,
} = Astro.props;
globalThis.lang = Astro.params.lang
---
<!DOCTYPE html>
<html lang={Astro.params.lang} class={htmlClass}>
    <head>
        <!--           Global Metadata           -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <slot name="meta" />
        <!--           Primary Meta Tags           -->
        <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: ogType ?? 'website',
                    image:
                        image ??
                        'https://ik.imagekit.io/chinesefonts/image/website_description.png?updatedAt=1685230267522&tr=w-1200%2Ch-675%2Cfo-auto',
                },
                optional: {
                    siteName: '中文网字计划',
                },
            }}
        />
        <meta
            name="keywords"
            content={keywords + $t("d43b734625429e539fb49080b13065d6")}
        />
        <link rel="preconnect" href="https://chinese-fonts-cdn.netlify.app" crossorigin />
        <link rel="preconnect" href="https://jsdelivr.deno.dev/" crossorigin />
    </head>
    <body
        style={{
            'font-family': `'${css.family}', ${fontFamilyFallback.replaceAll('"',"'")}`
        }}
        class={className}
    >
        <GlobalHeader />
        <slot />
        <Sentry />
    </body>
</html>
